/*                KEY POSITIONS

  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │     20  21  22     │ │     23  24  25     │
  ╰───────────╮ 26  27 │ │ 28  29 ╭───────────╯
              ╰────────╯ ╰────────╯            */

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TIMEOUT) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    timeout-ms = <TIMEOUT>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
    global-quick-tap-ms = <80>; \
  };

#define COMBO_TERM_FAST 16
#define COMBO_TERM_NORMAL 20
#define COMBO_TERM_SLOW 35

/ {
  combos {
    compatible = "zmk,combos"; 

    // missing alphas 
    COMBO(z,        &kp Z,        20 21, MAIN ALT NUM NAV FUN, COMBO_TERM_NORMAL)
    COMBO(q,        &kp Q,        20 22, MAIN ALT NUM NAV FUN, COMBO_TERM_NORMAL)
    // COMBO(j,        &kp J,        1 2, ALT, COMBO_TERM_NORMAL)
    COMBO(slash2,      &kp SLASH,      1 2,   MAIN NUM NAV FUN, COMBO_TERM_NORMAL)
    COMBO(v,      &kp V,      1 2,   ALT, COMBO_TERM_NORMAL)
    // common *gram
    COMBO(you,      &you,         6 8,   MAIN ALT NUM NAV FUN, COMBO_TERM_NORMAL)

    // functions + clipboard + history
    COMBO(bspc,     &kp BSPC,     4 14,  MAIN ALT NUM NAV FUN, COMBO_TERM_SLOW)  
    COMBO(esc,      &kp ESC,      2 13,  MAIN ALT NUM NAV FUN, COMBO_TERM_SLOW)
    COMBO(ret,      &kp RET,      16 7,  MAIN ALT NUM NAV FUN, COMBO_TERM_NORMAL)  
    COMBO(capslock, &kp CAPS,     6 7 8, MAIN ALT NUM NAV FUN, COMBO_TERM_SLOW)  
    COMBO(ss_r,     SK(LSHIFT),   16 17, MAIN ALT NUM NAV FUN, COMBO_TERM_FAST)                  
    COMBO(ss_l,     SK(LSHIFT),   12 13, MAIN ALT NUM NAV FUN, COMBO_TERM_FAST)                  
    COMBO(caps_l,   &caps_word,   11 12, MAIN ALT NUM NAV FUN, COMBO_TERM_SLOW)                  
    COMBO(caps_r,   &caps_word,   17 18, MAIN ALT NUM NAV FUN, COMBO_TERM_FAST)                  
    COMBO(mouse1,   &mkp MB1,     13 22, MAIN ALT NUM NAV FUN, COMBO_TERM_NORMAL) 
    COMBO(mouse2,   &mkp MB2,     12 21, MAIN ALT NUM NAV FUN, COMBO_TERM_NORMAL) 
    COMBO(mouse4,   &mkp MB4,     11 20, MAIN ALT NUM NAV FUN, COMBO_TERM_NORMAL) 

    // common symbols  
    COMBO(MINUS,    &kp MINUS,    6 7,   MAIN ALT NUM NAV FUN, COMBO_TERM_NORMAL)
    COMBO(at,       &kp AT,       2 3,   MAIN ALT NUM NAV FUN, COMBO_TERM_NORMAL)
    COMBO(dqt,      &kp DQT,      7 8,   MAIN ALT NUM NAV FUN, COMBO_TERM_NORMAL)
    COMBO(slash,    &kp SLASH,    23 25, MAIN ALT NUM NAV FUN, COMBO_TERM_NORMAL)
    COMBO(grave,    &kp GRAVE,    21 22, MAIN ALT NUM NAV FUN, COMBO_TERM_NORMAL)
    COMBO(excl,     &kp EXCL,     23 24, MAIN ALT NUM NAV FUN, COMBO_TERM_NORMAL)
    COMBO(qmark,    &kp QMARK,    24 25, MAIN ALT NUM NAV FUN, COMBO_TERM_NORMAL)

    // brackets 
    COMBO(lt,       &kp LT,        0 10,  MAIN ALT NUM NAV FUN, COMBO_TERM_NORMAL)
    COMBO(lbkt,     &kp LBKT,     1 11,  MAIN ALT NUM NAV FUN, COMBO_TERM_SLOW)
    COMBO(lpar,     &kp LPAR,     2 12,  MAIN ALT NUM NAV FUN, COMBO_TERM_SLOW)
    COMBO(lbrc,     &kp LBRC,     3 13,  MAIN ALT NUM NAV FUN, COMBO_TERM_SLOW)
    COMBO(gt,       &kp GT,        9 19,  MAIN ALT NUM NAV FUN, COMBO_TERM_NORMAL)
    COMBO(rbrc,     &kp RBRC,     6 16,  MAIN ALT NUM NAV FUN, COMBO_TERM_SLOW)
    COMBO(rpar,     &kp RPAR,     7 17,  MAIN ALT NUM NAV FUN, COMBO_TERM_SLOW)
    COMBO(rbkt,     &kp RBKT,     8 18,  MAIN ALT NUM NAV FUN, COMBO_TERM_SLOW)
  }; 
};
