/*                KEY POSITIONS

  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3     │ │      6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │     21  22  23  24 │ │ 25  26  27  28     │
  ╰───────────╮ 30  31 │ │ 32  33 ╭───────────╯
              ╰────────╯ ╰────────╯            */

#define COMBO(NAME, BINDINGS, KEYPOS, TERM) \
        combo_##NAME { \
            timeout-ms = <TERM>; \
            bindings = <BINDINGS>; \
            key-positions = <KEYPOS>; \
            layers = <LAYERS>; \
        };

#define COMBO_TIMEOUT_MS = 20

/ {
  combos {
    compatible = "zmk,combos";
    COMBO(capsword, <13 16>, <&caps_word>, 50) // t n

    // common symbols 
    COMBO(minus, <16 17>, <&kp MINUS>, COMBO_TIMEOUT_MS) // n e
    COMBO(grave, <17 18>, <&kp GRAVE>, COMBO_TIMEOUT_MS) // e i
    COMBO(equal, <12 13, <&kp EQUAL>, COMBO_TIMEOUT_MS)  //s t
    COMBO(bslh, <11 12, <&kp BSLH>, COMBO_TIMEOUT_MS)  //r s
    COMBO(semi, <10 11, <&kp SEMI>, COMBO_TIMEOUT_MS)  //a r
    COMBO(qmark, <18 19>, <&kp QMARK>, COMBO_TIMEOUT_MS) // i o

    // brackets
    COMBO(lbkt, <2 12>, <&kp LBKT>, COMBO_TIMEOUT_MS) // s f
    COMBO(lpar, <3 13>, <&kp LPAR>, COMBO_TIMEOUT_MS) // p t
    COMBO(rpar, <6 16>, <&kp RPAR>, COMBO_TIMEOUT_MS) // l n
    COMBO(rbkt, <7 17>, <&kp RBKT>, COMBO_TIMEOUT_MS) // u e
    
    // 30 key
    COMBO(tab, <11 13>, <&kp TAB>, COMBO_TIMEOUT_MS) // r t
    COMBO(del, <16 18>, <&kp DEL>, COMBO_TIMEOUT_MS) // n i
    COMBO(z, <21 22>, <&kp Z>, COMBO_TIMEOUT_MS) // . /
    COMBO(v, <22 23>, <&kp V>, COMBO_TIMEOUT_MS) // c d
    COMBO(j, <6 7>, <&kp J>, COMBO_TIMEOUT_MS) // l u
    COMBO(slash, <27 28>, <&kp SLASH>, COMBO_TIMEOUT_MS) // , .
  };
};